body, small {
    font-family: 'Gloria Hallelujah', cursive;   
    background: url(../img/RnM1440.png);
    background-color:#4dc7a2;   
    color: #f55003;
    background-repeat: no-repeat;
    padding-left: 20px;    
}

form {
  font-size:1.5em;
}

button, div, form, input {
    margin:10px;
}

