body {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    background: url(../img/RnM1440.png);
    background-color:#4dc7a2;   
    color: #f55003;
    background-repeat: no-repeat;

    /* colors for rick-morty bg-#4dc7a2, text #f55003 */
    /* font-family: 'Pangolin', cursive;  #2-bolder
font-family: 'Indie Flower', cursive;       X
font-family: 'Shadows Into Light', cursive; X
font-family: 'Gloria Hallelujah', cursive;  #1 */