body, small {
    font-family: 'Gloria Hallelujah', cursive;   
    background: url(../img/RnM1440.png);
    background-color:#4dc7a2;   
    color: #f55003;
    background-repeat: no-repeat;
    padding-left: 20px;    
}

form {
  font-size:1.5em;
}

button, div, form, input {
    margin:10px;
}

#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}